/out/
.cproject
.git
.gitignore.swp
.settings
/results/
.oppbuildspec
HelloWorldSim
HelloWorldSim_dbg
.project
/Simulations/results/
/dataset/
.pydevproject
/dataset/
.cmdenv-log
.oppfeaturestate
.qtenvrc
perf.data
Makefile*
/ONE_Simulator/the-one-1.6.0/reports/
/sim_dataset/
**/*.class
simulations/CaseID/script/simRun_logs/
ONE_Simulator/the-one-1.6.0/*.log
**/*.class
ONE_Simulator/the-one-1.6.0/sim_Scenario/plotting_results_MalwareInfection/infection_prop
simulations/CaseID/Test-cases-001/results/
